/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #00FFFF; 
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff; 
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(123, 115, 115, 0.1);
  width: 300px; 
}

h2 {
  margin-top: 0;
  text-align: center;
  color: #220909;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #060505;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #040303;
  border-radius: 3px;
  font-size: 16px;
  background-color: #fff;
  color: #040303;
}

button:hover {
  background-color: #11abab;
}

p {
  text-align: center;
  margin-top: 10px;
  color: #060505;
}
